body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
  }
  
  .calendar-container {
    width: 75%;
    height: 700px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
  

    display: flex;
    flex-direction: column;
  }
  
  .controls {
    text-align: center;
    margin-bottom: 10px;
  
    flex: 0 0 auto;
  }
  
  #monthSelect,
  #yearSelect {
    padding: 5px 10px;
    font-size: 1em;
    margin: 0 5px;
  }
  
  #calendar {
    width: 100%;
    border-style: double;
  

    flex: 1  auto;
    height: 0;
  
    table-layout: fixed;
  }
  
  #calendar td {
    width: auto;      
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
  }
  

  #calendar th {
    height: 30px;         
    padding: 5px;         
    background-color: #bdbdbd;
    border: 1px solid #000;
    font-weight: bold;
  }
  
  
  #calendar td.today {
    background-color: #4169E1;
    color: #fff;
  }
  